## Visual Studio Folders
.vs/
[Bb]in/
[Oo]bj/
out/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/

## NuGet Packages
*.nupkg
pkg/
packages/

## WPF and XAML specific
*.g.cs
*.g.i.cs
*.lref

## Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini

## Others
*.log
*.cache
*.tmp